<Project Sdk="Microsoft.NET.Sdk">
<PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>

    <IsPackable>false</IsPackable>
  </PropertyGroup>

  <ItemGroup>
  <package id="Microsoft.NET.Test.Sdk" version="16.10.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
  <package id="NUnit" version="3.13.2" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="4.0.0" targetFramework="net472" />
</ItemGroup>
<ItemGroup>
    <ProjectReference Include="..\Assignment02_8040\Assignment02_8040.csproj" />
  </ItemGroup>
</Project>